body {
	--bs-body-bg: #141414;
	--bs-body-color: white;

	position: absolute;
	background-color: #0a0a0a;
	color: white;
	width: 99%;
	height: 99%;
	font-family: system-ui;
}

input::placeholder {
	color: #646464 !important;
}

input.failed {
	border-color: red;
}

.tooltip {
	z-index: 10000;
	background-color: rgba(0, 0, 0, .85);
	border-radius: 10px;
	position: fixed;
	padding: 10px;
}

.tooltip > title {
	display: block;
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 4px;
}

.tooltip > tt_body {
	color: #afafaf;
}

.sm-text {
	font-size: 10pt;
	color: gray;
}

.error_output, .success_output {
	font-weight: bold;
	font-size: 14pt;
	padding: 5px;
	padding-left: 10px;
	margin-top: 12px;
	border-radius: 15px;
}

.error_output {
	background-color: #ff5454;
	color: white;
}

.success_output {
	background-color: #29ff29;
	color: white;
}

.controls {
	margin-bottom: 20px;
}

.clock_real, .clock_game {
	display: inline-block;
}

.divider {
	display: inline-block;
}

.dialog {
	border-radius: 15px;
	background-color: rgb(66, 66, 66);
	color: white;
	overflow: visible;
	outline: none;
	border: none;
	box-shadow: 6px 6px rgba(255,255,255,0.03);
}

.dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.8);
}

.close_button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	background-color: red;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.close_button::after {
	content: "X";
}

.b {
	font-weight: bold;
}

.center {
	text-align: center;
}

#character_container {
	padding: 20px;
}

.stripes .row:nth-child(2n+1) {
	background-color: rgba(0,0,0,.1);
}

.main_container {
	margin-left: 160px;
	margin-top: 20px;
}

.popout_element {
	z-index: 1000;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background-color: #1e1e1e;
	color: white;
	border: 1px dashed white;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 500px;
}

.action-group-label {
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	margin-top: 8px;
}