
@keyframes notification_fade {
	0% {
		opacity: 1;
		display: block;
	}
	99% {
		opacity: 0;
		display: block;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

@keyframes background_transition {
	0% { background-position: 0 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0 50% }
}

@keyframes wiggle {
	0% { rotate: -10deg; }
	50% { rotate: 10deg; }
	100% { rotate: -10deg; }
}

@keyframes sad_die {
	0% { rotate: 0deg; translate: 0 8px }
	50% { rotate: 5deg; }
	100% { rotate: 5deg; translate: 0 19px }
}

.notifications_container {
	margin: inherit; /* Overrides default popover style */
	top: 30px;
	left: auto;
	right: 10px;
	background-color: transparent;
	padding: 10px;
	border: none;
}

.notification {
	width: fit-content;
	display: block;
	border-bottom-left-radius: 10px;
	border: 1px dotted white;
	background-color: #313131;
	color: white;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
}

.notification-fade {
	animation-name: notification_fade;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-delay: 5s;
}

.notification.success {
	background-color: forestgreen;
}

.notification.error {
	background-color: #b40000;
}

.notification.warning {
	background-color: #f3642b;
	color: black;
}

.notification.info {
	background-color: dodgerblue;
}

.notification_sender {
	font-weight: bold;
}